@import "index";

.account-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 3.5rem;

    a {
        text-decoration: none;
        text-align: center;
    }

    .personal-account {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        padding: 0.5rem;
        box-shadow: inset 1px 1px 5px $cafe-au-lait;

        .personal-info {
            margin: 0.7rem 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .greetings {
                margin-right: 1rem;
                color: $brown-sugar;
                text-align: center;
                
                .label-name {
                    font-size: 1.4rem;

                    .info {
                        font-size: 1.8rem;
                        color: $coffee;
                        font-weight: bold;
                    }
                }

                .label-email {
                    font-size: 0.9rem;
                    margin-top: -0.7rem;
                }
            }

            .buttons {
                display: flex;

                .edit-btn, .signout-btn, .delete-btn {
                    background-color: $champagne-darker;
                    color: $cafe-au-lait;
                    border-radius: 0.18rem;
                    border: 0.14rem solid rgba(157, 107, 83, 0.6);
                    border-right-color: rgba(113, 69, 51, 0.7);
                    border-bottom-color: rgba(113, 69, 51, 0.7);
                    text-align: center;
                    border-radius: $border;
                    padding: 0.7rem 1rem;
                    margin: 0 0 0 0.5rem;
                    cursor: pointer;
                    font-weight: bold;
                }
                
                .edit-btn:hover, .save-button:hover, .delete-btn:hover, .signout-btn:hover a {
                    color: $coffee;
                }
                .signout-btn a {
                    color: $cafe-au-lait;
                }
            }

            .loading-acc {
                justify-content: center;
                .spin-icon {
                    font-size: 2rem;
                }
            }

            // edit form:
            .edit-username-form, .edit-pass-form {
                display: flex;
                align-items: center;
                padding: 0.08rem 0;

                .username-labels-container, .password-labels-container {
                    display: flex;
                    
                    .edit-label {
                        width: 100%;
                        display: flex;
    
                        input {
                            width: 100%;
                            padding: 0.5rem;
                            border: 1px solid $cafe-au-lait;
                            border-radius: $border;
                            font-size: 1.1rem;
                            color: $dark-brown;
    
                            &::placeholder {
                                font-family: 'El Messiri', sans-serif;
                                color: $brown-sugar;
                                font-size: 0.9rem;
                            }
                        }
                        input:focus {
                            outline: none;
                            border: 1px solid $coffee-darker;
                        }
                        // .input-pass {
                        //     padding: 0 0.7rem;
                        // }
                    }
                }

                .save-cancel-container {
                    display: flex;
                    .save-btn, .cancel-btn {
                        width: 45%;
                        background-color: $champagne-darker;
                        color: $cafe-au-lait;
                        border-radius: 0.18rem;
                        border: 0.14rem solid rgba(157, 107, 83, 0.6);
                        border-right-color: rgba(113, 69, 51, 0.7);
                        border-bottom-color: rgba(113, 69, 51, 0.7);
                        text-align: center;
                        border-radius: $border;
                        padding: 0.7rem 1rem;
                        margin: 0 0 0 0.5rem;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
            }
        }  
    }
    
    .personal-lists {
        margin: 2rem;
        display: flex;
        justify-content: space-around;
        width: 100%;
    
        .fic-list-container, .eps-list-container {
            width: 100%;
            padding: 1rem 2rem 3rem 2rem;
            border: 1.1rem solid rgba(176, 125, 98, 0.05);
            box-shadow: 1px 1px 5px rgba(176, 125, 98, 0.5);
            border-radius: $border;
            flex-basis: 50%;

            .loading-details {
                text-align: center;
                .spin-icon {
                    font-size: 1.7rem;
                }
            }

            .lists-title {
                font-size: 1.5rem;
                text-align: center;
            }

            .add-list {
                width: 100%;
                margin: 0 auto;
                display: block;
                margin-bottom: 2rem;
                font-weight: bold;
                opacity: 0.9;
            }

            .list-item-title {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
    
            .no-lists {
                text-align: center;
                justify-content: center;
            }

            .create-btn {
                width: 30%;
                background-color: $darkest-brown;
                color: $mocha-op;
                border-radius: $border;
                padding: 0.7rem;
                margin-top: 2rem;
                cursor: pointer;
                font-weight: bold;
                align-self: center;
            }
        }
    }
}

@media screen and (max-width: 327px) {
    .account-container {
        .personal-account {
            .personal-info {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                .label {
                    margin: 0;
                }
                .buttons {
                    flex-direction: column;
                    .edit-btn, .signout-btn, .delete-btn {
                        margin: 0;
                    }
                }

                .edit-pass-form {
                    padding: 0.7rem 0 0;
                    width: 100%;
                    flex-direction: column;

                    .password-labels-container {
                        flex-wrap: wrap;
                    }
                    .save-cancel-container {
                        align-items: center;
                        margin-top: 0.2rem;
                        .save-btn, .cancel-btn {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .personal-lists {
            flex-direction: column;
            margin: 2rem 0.5rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .account-container {
        .personal-account {
            .personal-info {
                .edit-username-form {
                    padding: 1.43rem;
                    flex-direction: column;
                    
                    .save-cancel-container {
                        flex-direction: row;
                        align-items: center;
                        flex-basis: 100%;
                        margin-top: 0.2rem;
                        .save-btn, .cancel-btn {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 505px) and (min-width: 328px) {
    .account-container {
        .personal-account {
            .personal-info {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                .label {
                    margin: 0;
                }

                .buttons {
                    flex-wrap: wrap;
                    justify-content: center;
                    .edit-btn, .signout-btn, .delete-btn {
                        margin: 0;
                    }
                }

                .edit-pass-form {
                    padding: 0.7rem 0 0;
                    width: 100%;
                    .password-labels-container {
                        flex-wrap: wrap;
                    }
                    .save-cancel-container {
                        flex-direction: column;
                        align-items: center;
                        .save-btn, .cancel-btn {
                            width: 80%;
                        }
                    }
                }
                .edit-username-form {
                    padding: 1.43rem;
                }
            }
        }

        .personal-lists {
            flex-direction: column;
            margin: 2rem 0.5rem;
        }
    }
}

@media screen and (max-width: 790px) and (min-width: 506px) {
    .account-container {
        .personal-account {
            .personal-info {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                .label {
                    margin: 0;
                }
                .buttons {
                    .edit-btn, .signout-btn, .delete-btn {
                        margin: 0;
                    }
                }

                .edit-pass-form {
                    padding: 0.7rem 0 0;
                    width: 80%;
                    .password-labels-container {
                        flex-wrap: wrap;
                    }
                }
                .edit-username-form {
                    padding: 1.43rem;
                }
            }
        }
    }
}