@import 'index';

.admin-board {
    margin: 2.5rem 0 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 95%;

    .board-container {
        width: 100%;
        .board-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .users-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

.users-cards-container {
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 5px rgba(119, 73, 54, 0.4);
    border-radius: $border;
    width: fit-content;
    padding: 1rem 0.5rem;
    margin: 0.5rem;

    .loading-details {
        .spin-icon {
            font-size: 1.7rem;
        }
    }

    .item-card {
        display: flex;
        flex-direction: column;
        
        .item {
            font-weight: bold;
            margin: 0 0.7rem;
            font-size: 1.1rem;
            .category {
                font-weight: 300;
                font-size: 0.9rem;
            }
            a {
                font-size: 0.9rem;
            }
        }
    }

    .item-edit-delete {
        display: flex;
        margin: 0.5rem;

        .icon-ed-de {
            margin: 0 0.3rem;
            cursor: pointer;
        }
        .icon-ed-de:hover {
            color: $coffee-darker;
        }
    }

    // edit form:
    .item-edit-form {
        display: flex;
        flex-direction: column;

        .item-edit-label-info {
            padding: 0.3rem;
        }

        .item-edit-label {
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
                height: 2.5rem;
                width: 100%;
                padding: 0.7rem;
                border: 1px solid $cafe-au-lait;
                border-radius: $border;
                font-size: 1.1rem;
                color: $dark-brown;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $brown-sugar;
                    font-size: 0.9rem;
                }
            }
            input:focus {
                outline: none;
                border: 1px solid $coffee-darker;
            }
        }

        .ok-cancel {
            flex-basis: 100%;
            margin: 0 0.5rem;
            
            .item-save-button {
                border: none;
                background: none;
                cursor: pointer;
                color: $brown-sugar;
                margin: 0 0.3rem;
                font-size: 1rem;
            }
            .item-save-button:hover {
                color: $coffee-darker;
            }
        }
    }
}