@import 'index';

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $cafe-au-lait;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $coffee-darker;
    box-shadow: 0 -2px 5px $coffee-darker;

    .footer-name {
        font-family: 'Calistoga', cursive;
    }

    .footer-contact {
        a {
            margin: 0 0.5rem;
            font-size: 2rem;
            color: $coffee-darker;

            .icon:hover {
                color: $coffee
            }
        }
    }
}