@import 'index';

.forgotpassword {
    width: 30%;
    margin: 5rem auto;
    display: block;
    .submitted {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .reset-form {
        display: flex;
        
        .reset-pass-label{
            width: 100%;
            font-weight: 700;

            .reset-input {
                width: 100%;
                padding: 0.7rem;
                border-radius: $border;
                border: 1px solid $cafe-au-lait;
                font-size: 1.1rem;
                color: $brown-sugar;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $brown-sugar;
                    font-size: 0.9rem;
                }
            }
            .reset-input:focus {
                outline: none;
                border: 1px solid $coffee-darker;
            }
        }

        .reset-btn {
            width: 5rem;
            margin-left: 1rem;
            padding: 0.7rem;
            cursor: pointer;
            font-size: 1rem;
            color: $champagne;
            background-color: $brown-sugar;
            border-radius: 0.15rem;
            border: 1px solid $coffee-darker;
            box-shadow: 1px 1px 3px $coffee-darker;
        }
        .reset-btn:hover {
            color: $desert-sand;
        }
    }
}