@import 'index';

.landing {
    // img {
    //     max-width: 100%;
    //     display: block;
    // }
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;

        .number-container {
            display: flex;
            align-items: center;
            margin: 0 4rem;

            .number {
                font-size: 20vw;
            }

            .text {
                font-size: 2.5vw;
            }
        }

}