@import 'index';

.list-data-container {
    margin: 2.5rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    .list-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset -1px 1px 5px rgba(119, 73, 54, 0.5);
        flex-basis: 100%;

        .list-h2 {
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 1rem;

            .list-title {
                font-size: 1.5rem;
                font-weight: 300;
                margin-right: 1rem;
            }
        }
        .list-h2-mobile {
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 2rem;
            text-align: center;

            .list-title {
                font-size: 2rem;
                font-weight: 300;
                margin-right: 1rem;
            }
        }

        .add-to-list-top {
            margin: 0 0 1rem;
            .icon-add {
                cursor: pointer;
                font-weight: bold;
                font-size: 1.25rem;
            }
            .icon-add:hover {
                color: $cafe-au-lait;
            }
        }

        .list-edit-delete {
            text-align: right;
            background-color: $browner-sugar;
            width: 100%;
            margin: 0 0.5rem 1rem;
            padding: 0.3rem 0.8rem;
    
            .icon-ed-de {
                margin: 0 0.3rem;
                cursor: pointer;
                color: $champagne-darkest;
            }
            .icon-ed-de:hover {
                color: $antique-brass;
            }
        }

        .list-edit-delete-mobile {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            padding: 0.5rem 0.2rem;
            background-color: $browner-sugar;
            width: 100%;
    
            .icon-ed-de {
                margin: 0 1rem;
                font-size: 1.5rem;
                cursor: pointer;
                color: $champagne-darkest;
            }
        }


        .list-items-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .loading-details {
                align-self: center;
                font-size: 1.7rem;
            }
        }

        .add-form {
            width: 100%;

            .add-to-list {
                width: 100%;
                background-color: $champagne-darker;
                display: flex;
                justify-content: center;
                padding: 0.3rem 0.8rem;

                .icon-add {
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: $cafe-au-lait;
                }
                .icon-add:hover {
                    color: $coffee-darker;
                }
            }

            .item-form-container {
                width: 100%;
                display: flex;
                justify-content: center;
                color: $brown-sugar;
            
                .item-form {
                    width: 90%;
                    padding: 0 0.5rem 0.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    border: 1.1rem solid $champagne-darker;
                    box-shadow: 1px 1px 5px $cafe-au-lait;
                    border-radius: $border;
            
                    .h2-item {
                        flex-basis: 100%;
                        letter-spacing: 0.1rem;
                        text-align: center;
                    }
                    .h5-item {
                        width: 100%;
                        font-weight: 100;
                    }
            
                    .item-label {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0.3rem;
                        font-weight: 700;
            
                        .item-input {
                            height: 2.5rem;
                            width: 100%;
                            padding: 1ch;
                            margin: 0.3rem 0;
                            border-radius: $border;
                            border: 1px solid $cafe-au-lait;
                            font-size: 1.1rem;
                            color: $brown-sugar;
            
                            &::placeholder {
                                font-family: 'El Messiri', sans-serif;
                                color: $coffee-darker;
                                opacity: 0.5;
                                font-size: 1rem;
                            }
                        }
            
                        .item-input:focus {
                            outline: none;
                            border: 1px solid $coffee-darker;
                        }
                    }

                    .save-cancel-container {
                        display: flex;
                        .save-btn, .cancel-btn, .icon-spin {
                            padding: 0.7rem 1.2rem;
                            color: $cafe-au-lait;
                            background-color: $champagne;
                            border-radius: 0.18rem;
                            border: 0.14rem solid $champagne-darker;
                            border-right-color: rgba(163, 87, 56, 0.5);
                            border-bottom-color: rgba(113, 69, 51, 0.5);
                            text-align: center;
                            margin: 0 0.5rem;
                            cursor: pointer;
                            font-weight: bold;
                        }
                        .save-btn:hover, .cancel-btn:hover {
                            color: $desert-sand;
                        }

                        .icon-spin {
                            cursor: initial;
                        }
                    }
                }
                .item-form-mobile {
                    width: 100%;
                }
            }
        }
    }

    // edit form:
    .list-edit-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .margin {
            margin: 1rem 0 2.8rem;
        }

        .list-edit-label {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            margin-bottom: 1.3rem;

            input {
                height: 2rem;
                width: 65%;
                padding: 1.25rem 0.8rem;
                margin: 0.3rem 0 0 1.5rem;
                border: 1px solid $cafe-au-lait;
                border-radius: $border;
                font-size: 1.5rem;
                color: $dark-brown;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $brown-sugar;
                    font-size: 1.1rem;
                    opacity: 0.5;
                }
            }
            input:focus {
                outline: none;
                border: 1px solid $coffee-darker;
            }
        }

        .ok-cancel {
            flex-basis: 100%;
            text-align: right;
            margin: 0 0 1rem;
            padding: 0.3rem 0.8rem;
            background-color: $brown-sugar;
            
            .list-save-button, .list-save-spinner {
                border: none;
                background: none;
                cursor: pointer;
                color: $champagne-darker;
                margin: 0 0.3rem;
                font-size: 1rem;
            }
            .list-save-button:hover {
                color: $coffee-darker;
            }
            .list-save-spinner {
                cursor: initial;
            }
        }
        .ok-cancel-mobile {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding: 0.4rem 0.5rem;
            background-color: $brown-sugar;
            
            .list-save-button, .list-save-spinner {
                border: none;
                background: none;
                margin: 0 0.5rem;
                font-size: 1.5rem;
                color: $champagne-darker;
            }
        }
    }
}  

.list-data-container:hover .list-edit-delete {
    color: $brown-sugar;
}

.mobile-width {
    width: 100%;
    padding: 0.05rem 0;
    margin: 0 0 3rem;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .list-data-container {
        width: 80%;
        margin-top: 2rem;
    }
}