@import 'index';

.nav {
    width: 100%;
    background-color: $cafe-au-lait;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    
    .not-logged-container, .logged-in-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 1rem auto;
        width: 95%;
    
        .titles {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                font-family: 'Londrina Solid', cursive;
                font-size: 2.15rem;
                color: $champagne;
                text-shadow: -3px -3px 3px $coffee-darkest, 3px -3px 3px $coffee-darkest, -3px 3px 3px $coffee-darkest, 3px 3px 3px $coffee-darkest;
            }
            .logo:hover {
                color: $champagne-darker;
            }

            .h2-loggedin-out {
                font-family: 'Londrina Solid', cursive;
                margin-top: -0.8rem;
                color: $coffee-darker;
                font-weight: bold;
            }
        }

        .acc-signout-container {
            .icon-acc {
                font-size: 3rem;
                color: $champagne-darker;
                stroke: rgba(99, 60, 44, 0.8);
                stroke-width: 25;
            }

            .icon-acc:hover, .signout:hover {
                color: $desert-sand;
            }

            .icon-signup {
                font-size: 2.7rem;
                stroke: rgba(99, 60, 44, 0.8);
                stroke-width: 30;
                color: $champagne;
            }
            
            .icon-signup:hover {
                color: $champagne-darker;
            }

            .icon-text, .acc-text {
                color: $coffee-darkest;
                font-size: 0.8rem;
                font-weight: bold;
                margin: -0.2rem 0 0 0.2rem;
            }

            .acc-text {
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .nav {
        .not-logged-container, .logged-in-container {
            .titles {
                .logo {
                    font-family: 'Londrina Solid', cursive;
                    font-size: 1.7rem;
                    color: $champagne;
                    text-shadow: -3px -3px 3px $coffee-darkest, 3px -3px 3px $coffee-darkest, -3px 3px 3px $coffee-darkest, 3px 3px 3px $coffee-darkest;
                }
                .logo:hover {
                    color: $champagne-darker;
                }
    
                .h2-loggedin-out {
                    font-size: 1.22rem;
                    margin-top: -0.6rem;
                }
            }

            .acc-signout-container {
                .icon-acc {
                    font-size: 2.7rem;
                }
            }
        }
    }
}