@import 'index';

.nav {
    width: 100%;
    background-color: $desert-sand;
    padding: 1rem 0;
    box-shadow: 0 1px 5px $coffee-darker;
    
    .not-logged-container, .logged-in-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 2rem;
    
        .titles {
            display: flex;
            align-items: center;

            .logo {
                font-family: 'Calistoga', cursive;
                font-size: 1.8rem;
                color: $coffee-darker;
                text-shadow: 2px 2px $antique-brass;
            }

            .h2-loggedin-out {
                font-family: 'El Messiri', sans-serif;
                margin-left: 2rem;
                align-self: flex-end;
                color: $cafe-au-lait;
            }
        }

        .acc-signout-container {
            .icon-acc {
                font-size: 2.5rem;
                margin-right: 1rem;
            }
    
            .signout {
                font-size: 0.9rem;
                text-decoration: underline;
            }
        }
    
        .login-form {
            .login-input, .login-btn {
                margin-right: 0.5rem;
                padding: 0.4rem;
                border: 1px solid $coffee;
                border-radius: $border;
                color: $coffee-darker;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $coffee-darker;
                    opacity: 0.5;
                }
            }
            .login-input:focus {
                outline: none;
                border: 0.1rem solid $coffee;
            }
            .login-btn {
                background-color: $cafe-au-lait;
                color: $champagne;
                cursor: pointer;
                box-shadow: 1px 1px 3px $coffee-darker;
            }
            .login-btn:hover {
                color: $desert-sand;
            }
            .signup {
                font-size: 0.9rem;
                text-decoration: underline;
            }
        }
    }
}