@import 'index';

.update-password {
    width: 25%;

    .submitted, .loading-message {
        width: 100%;
        margin: 5rem auto;
        font-size: 1.5rem;
        text-align: center;

        .check-icon, .spin-icon {
            color: $brown-sugar;
            margin-right: 1rem;
        }
    }

    .update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        
        .update-pass-label{
            width: 100%;

            input {
                width: 100%;
                padding: 0.7rem;
                margin-bottom: 1rem;
                border-radius: $border;
                border: 1px solid $cafe-au-lait;
                font-size: 1.1rem;
                color: $brown-sugar;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $brown-sugar;
                    font-size: 0.9rem;
                }
            }
            input:focus {
                outline: none;
                border: 1px solid $coffee-darker;
            }
        }

        .update-btn {
            width: 5vw;
            margin-left: 1rem;
            padding: 0.7rem;
            cursor: pointer;
            font-size: 1rem;
            color: $champagne;
            background-color: $brown-sugar;
            border-radius: 0.15rem;
            border: 1px solid $coffee-darker;
            box-shadow: 1px 1px 3px $coffee-darker;
        }
        .update-btn:hover {
            color: $desert-sand;
        }
    }
}