@import 'index';

.update-password {
    width: 25%;

    .submitted, .loading-message {
        width: 100%;
        margin: 5rem auto;
        font-size: 1.5rem;
        text-align: center;

        .check-icon, .spin-icon {
            color: $brown-sugar;
            margin-right: 1rem;
        }
    }

    .update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        
        .update-pass-label{
            width: 100%;

            input {
                width: 100%;
                padding: 0.7rem;
                margin-bottom: 1rem;
                border-radius: $border;
                border: 1px solid $cafe-au-lait;
                font-size: 1.1rem;
                color: $brown-sugar;

                &::placeholder {
                    font-family: 'El Messiri', sans-serif;
                    color: $brown-sugar;
                    font-size: 0.9rem;
                }
            }
            input:focus {
                outline: none;
                border: 0.085rem solid $coffee;
            }
        }

        .update-btn {
            margin-left: 1rem;
            padding: 0.7rem 2.2rem;
            cursor: pointer;
            font-size: 1rem;
            color: $champagne;
            background-color: $cafe-au-lait;
            border-radius: 0.18rem;
            border: 0.14rem solid rgba(157, 107, 83, 0.6);
            border-right-color: rgba(113, 69, 51, 0.7);
            border-bottom-color: rgba(113, 69, 51, 0.7);
        }
        .update-btn:hover {
            color: $desert-sand;
        }
    }
}

@media screen and (max-width: 399px) {
    .update-password {
        width: 85%;
    }
}

@media screen and (max-width: 549px) and (min-width: 400px) {
    .update-password {
        width: 70%;
    }
}

@media screen and (max-width: 768px) and (min-width: 550px) {
    .update-password {
        width: 60%;
    }
}

@media screen and (max-width: 999px) and (min-width: 769px) {
    .update-password {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .update-password {
        width: 30%;
    }
}